# Convertir archivo TXT de usuarios a JSON para MongoDB

In [1]:
import pandas as pd
import csv

In [21]:
users = pd.read_csv("/home/facundo/repos/friends-001______.txt", sep=':')

In [22]:
users.columns = ['user','private']

In [23]:
users.user = users.user.astype(str)
users.private = users.private.astype(str)
users = users.replace("notfound","")
users = users.replace("nan","")
users = users.replace("private","")

users.head()

      user                                            private
0  3000001
1  3000002
2  3000003  2586299,2608864,2729602,2809140,2821257,290841...
3  3000004
4  3000005

In [25]:
users['json'] = "{'id':" + users.user.loc[:] + ", 'friends':[" + users.private.loc[:] + "]}"

In [26]:
json_users = users['json']

json_users.to_csv(r'relations.json', header=None, index=None, sep='\t')